

// mixin

@mixin flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
}

@mixin medidas ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.card-container{
    @include flex(row, center, center);
    gap: 40px;
}

.card {
    border: 2px solid black;
    @include medidas (250px, 250px)
}
