.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;


}

#navbar {
    ul {
        text-transform: uppercase;
        list-style: none;
        display: flex;
        flex-wrap: wrap; 
    }
    
    a {
        text-decoration: none;
        color: #fff;
        padding: 20px;
        display: block;
        transition: all .2s ease;

        &:hover {
            background-color: #444;
        }

    }

}


#toggle,
header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 48px;
}

@media(max-width:950px){
    .header label{
        display: initial;
    }

    .header{
        padding: 20px 20px;
    }

    .header .navbar{
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #444;
        display: none;
    }

    .header .navbar ul li  {
        width: 100%;

    }

    .header .navbar ul li a {
        padding: 40px;

        &:hover {
            background-color: #222;
        }

    }

    #toggle:checked ~ .navbar {
        display: block;
}
    
}